<nz-card
    style="width: 100%;"
    class="skill-card"
    nzHoverable
    [routerLink]="['/blog', routerLink]"
    [nzCover]="coverTemplate">

    <nz-card-meta
        [nzTitle]="'Compétences ' + title"
        [nzAvatar]="avatarTemplate">
    </nz-card-meta>

</nz-card>

<ng-template #avatarTemplate>
    <nz-avatar nzIcon="setting"></nz-avatar>
</ng-template>

<ng-template #coverTemplate>
    <div class="cover-container">
        <img [src]="imgSource" class="cover-img"/>
    </div>
</ng-template>
