body {
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: @white;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.2;
}

h2 {
  color: @white;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
}

h3 {
  color: @light-text-color;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.2;
}

p {
  color: @darkened-text-color;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

button {
  color: @white;
  font-size: 0.85rem;
  font-weight: 400;
}

a {
  color: @white;
  font-family: @font-family;
}