<nz-timeline nzMode="alternate">
  <ng-container *ngFor="let experience of experiences">
    <nz-timeline-item
      [nzDot]="isDiploma(experience) ? diplomaTemplate : undefined">
        <h4>
          {{ getExperienceHeader(experience) }}
          <span class="date">{{ getExperienceDate(experience) }}</span>
          {{ getAdditionalExperienceHeader(experience) }}
        </h4>
        <p *ngFor="let detail of getExperienceDetails( experience )">
          {{ detail }}
        </p>
    </nz-timeline-item>
  </ng-container>
</nz-timeline>

<ng-template #diplomaTemplate>
  <i nz-icon [nzType]="CustomIcons.Diploma" style="font-size: 20px;"></i>
</ng-template>
